
/* start setting of html tags */
body {
    background-color: rgba(60, 100, 177, 0.10);
    font-family: Arial, Helvetica, sans-serif !important; 
    overflow: hidden !important;
    line-height: normal;
}

html{
scroll-behavior: smooth;
}

h1{
    font-size: 44px;
    display: inline-block;
    margin: unset;
}

button{
    border-style: solid;
    border-width: 1px;
}

input{
    border: none;
    padding: 5px 2px;
}

::placeholder{
    color: rgba(0, 0, 0, 0.2);
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

label{
    margin-bottom: 0px;
}

a:hover {
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: revert;
}

p {
    margin-top: unset;
}

.h1{
    margin-top: 100px;
}
/* end setting of html tags */

/* START menu in top */
.menu{
    position: fixed;
    top: 20px;
    right: 20px;
}

.icon-login,
.icon-setting
{
    height: 20px;
    width: 20px;
}

.menu-link{
    margin-right: 30px;
    color: black;
    cursor: pointer;
}

.menu-link:hover{
    color: black;
}

.setting {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #D9D9D9;
    width: 300px;
    /*display: flex;*/
    display: none;
    flex-direction: column;
    border-radius: 5px;
    padding: 0 25px;
    padding-top: 25px;
}

.setting-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.setting-block-text {
    font-size: 14px;
    margin-bottom: 0px;
}

.setting::after {
    content: '';
    position: absolute;
    right: 30px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #D9D9D9;
}

input.algorithm-time {
    background-color: inherit;
    border-bottom: 1px solid;
    width: 20px;
    height: 30px;
    text-align: center;
    padding: 0px 0px;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #3c64b1;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3c64b1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* END menu in top */

.style-btn{
    margin: 0 0;
    margin-left: 15px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.landing-main-start {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-section-content {
    display: flex;
    width: 830px;
    padding: 100px;
    text-align: center;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
}

.choose-count{
    margin-right: 15px;
    background-color: inherit;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 50px !important;
}

.brand{
    text-align: center;
}

.landing-main-text {
    width: 400px;
    text-align: center;
    font-size: 16px;
    color: 737B7D;
    margin: 40px 0px;
}

a.sub-btn,
button.sub-btn {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
}
.sub-btn:hover{
    cursor: pointer;
}

.margin-right {
    margin-right: 30px;
}

a.act-btn,
button.act-btn {
    background-color: #3C64B1;
    border-color: #3C64B1;
    color: #ffffff;
}

a.pas-btn,
button.pas-btn {
    background-color: rgba(60, 100, 177, 0.05);
    color: #3C64B1;
    border-color: #3C64B1;
}

.information{
    display: none;
    color: black;
}

/* end first page */

/* Section of choose subject */
.landing-choose-teachers, 
.landing-choose-subjects, 
.landing-choose-classes, 
.landing-choose-courses, 
.landing-choose-option, 
.landing-choose-finish {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
}

.landing-choose-courses{
    width: 80%;
}

.landing-nav-right {
    width: 15%;
    position: sticky;
    min-height: 100vh;
    margin-right: 50px;
}

.icon-info{
    width: 20px;
    height: 20px;
}

.icon-info:hover {
    cursor: pointer;
}

.info-text {
    max-width: 500px;
    margin-bottom: 50px;
    color: #949596;
}

.help-button{
    margin-bottom: 40px;
}

.boxer {
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-subject{
    display: flex;
    background-color: rgba(60, 100, 177, 0.5);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.input-psevdo {
    border-radius: 10px;
    border: dashed rgba(115, 123, 125, 0.06);
    height: 40px;
    background-color: rgba(115, 123, 125, 0.06);
    width: 95%;
}

.psevdo-trash{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.subject-name {
    width: 300px;
    background-color: rgba(60, 100, 177, 0.01);
    color: black;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.number-input {
    display: inline-block;
}

.number-input a,
.number-input-max-lessons a, /* sector class */
.number-input-study-day a,
.number-input-max-course a
{
    outline: none;
    -webkit-appearance: none;
    background-color: black;
    width: 15px;
    height: 10px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    border: none;
    cursor: pointer;
}

.number-input a.plus, 
.number-input-max-lessons a.plus, /* sector class */
.number-input-study-day a.plus,
.number-input-max-course a.plus
{
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    margin-bottom: 4px;
}

.subject-cost {
    display: inline-block;
    background-color: rgba(60, 100, 177, 0.01);
    color: black;
    border: none;
    text-align: center;
    font-size: 20px;
}

.description-text{
    font-size: 15px;
    color: black;
    margin-left: 35px;
}

.not-active-description-text{
    color: #0003 !important;
}

.counter-add-circle {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background: rgba(60, 100, 177, 0.12);
    border-radius: 50%;
}

.counter-add-plus {
  position: relative;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: #3C64B1;
  clip-path: polygon(40% 0%,
                     40% 40%,
                     0% 40%,
                     0% 60%,
                     40% 60%,
                     40% 100%,
                     60% 100%,
                     60% 60%,
                     100% 60%,
                     100% 40%,
                     60% 40%,
                     60% 0%
                     );
}

.counter:hover,
.counter-add-circle:hover
{
  cursor: pointer;
}

.counter-add-circle:hover{
    background: rgba(60, 100, 177, 0.5);
}

.trash {
    width: 40px;
    height: 40px;
}

svg.trash:hover path{
    fill: #B52222;
}

.items{
    width : 100%;
}

.nav-item {
    position: sticky;
    display: flex;
    justify-content: right;
    text-decoration: none;
    align-items: center;
}

.nav-item:hover {
    color: black;
}

.nav-p {
    margin-right: 20px;
    color: #737B7D;
    font-size: 14px;
    display: flex;
    text-decoration: none;
    align-items: center;
}
.nav-p p{
    margin-right: 15px;
    margin: inherit;
}

.nav-p:hover{
    color: black;
}

.nav-p:hover .nav-circle {
    background: black;
}

.nav-circle {
    width: 32px;
    height: 32px;
    background: rgba(115, 123, 125, 0.38);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-circle p{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-top:7px;
}

.nav-item-active{
    background: #373F41;
}
.nav-item-active-p{
    color: #373F41;
}

.nav-line {
    position: relative;
    height: 95px;
    border-left: 1px solid #737B7D;
    left: -36px;
    top: 70px;
}

.nav-line-six {
    left: -16px;
}
.nav-item-one{
    top: 70px;
}
.nav-item-two{
    top: 215px;
}
.nav-item-three{
    top: 360px;
}
.nav-item-four{
    top: 505px;
}

.nav-item-six{
    top: 675px;
}

.btn-next {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.nav-psevdo-right{
    width:25%;
    display: inline-block;
}

.main_form {
    width: 74%;
    display: flex;
    flex-direction: column;
}

/* section teacher start */

.teacher-name-first {
    width: 200px;
    background-color: rgba(60, 100, 177, 0.01);
    color: black;
    border-bottom: 1px solid black;
    font-size: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-teacher {
    display: flex;
    background-color: rgba(60, 100, 177, 0.5);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    flex-wrap: wrap;
}

.list-of-teachers-using-select
{
    margin-right: 35px;
}

/* .list-of-subjects,
.list-of-teachers
{
    overflow: scroll;
    width: 200px;
    background-color: rgba(60, 100, 177, 0.01);
    color: black;
    font-size: 20;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid black;
    margin-right: 35px;
} */

/* sector class start */
.input-classes{
    display: flex;
    background-color: rgba(60, 100, 177, 0.5);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.classes-name,
.classes-name-number,
.classes-name-letter
{
    width: 30px;
    background-color: rgba(60, 100, 177, 0.01);
    color: black;
    border-bottom: 1px solid black;
    font-size: 15px;
    margin-right: 15px;
    text-align: center;
}

.classes-study-day,
.classes-max-lessons,
.courses-max-course
{
    display: inline-block;
    background-color: rgba(60, 100, 177, 0.01);
    color: black;
    border: none;
    text-align: center;
    font-size: 20px;
}

.number-input-max-lessons,
.number-input-study-day
{
    display: inline-block;
    margin-right: 20px;
}
/* sector class end */

/* sector courses start */
.avaliable-classes{
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
}

.class-active {
    background-color: #3C64B1 !important;
    color: white !important;
}

.class-btn{
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    border: 1px solid;
}

.class-btn:focus{
    color: white;
    background-color: rgba(60, 100, 177, 0.5);
}

.standart-p{
    font-size: 20px;
    color: #737B7D;
}

.input-courses{
    display: flex;
    background-color: rgba(60, 100, 177, 0.5);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.unvis-box{
    visibility: hidden;
}

.box{
    position: absolute;
    overflow: auto;
    max-height: 500px;
}

.vis-box{
    visibility: visible;
}

.activate{
    display: block;
}

.option-disabled{
    color:rgba(115, 123, 125, 0.38)
}

.not-display{
    display: none;
}


/* preloader */

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: rgba(60, 100, 177, 0.50);
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }


  /* bootstrap css update */

.inner .show{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
  .bootstrap-select > .dropdown-toggle {
    position: relative;
    width: 100%;
    text-align: right;
    white-space: nowrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: aliceblue;
    background-color: rgba(60, 100, 177, 0.01);
    border: none;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}


.bootstrap-select>.dropdown-toggle.bs-placeholder {
    color: #0003;
}

.btn-light.disabled, .btn-light:disabled {
    color: #0003 !important;
}

/* Автозаполнение */

input:-internal-autofill-selected {
    background-color: rgba(60, 100, 177, 0.01) !important;
}

/* Таблица */
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    }
    th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    td {
    background: #D8E6F3;
    }
    th:first-child, td:first-child {
    text-align: left;
    }

    .info-user{
        display: none;
    }